body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}
#PageHeader {
  text-align: center;
}
#subtextHeader {
  text-align: center;
}
#loginForm {
  margin: 0 auto;
  text-align: center;
}

.gameCards {
  max-width: 85vw;
  margin: 15px auto;
  box-shadow: 2px 2px 2px 1px gray;
}
.gameTitle {
  font-size: 2em;
  text-shadow: 2px 3px 5px gray;
}
.gameSearch {
  margin: 0 auto;
  max-width: 85vw;
}
#Login {
  margin: 0 auto;
  max-width: 50vw;
}
#libraryTitle {
  text-shadow: 2px 3px 5px gray;
}